<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{usr/common/layout}">
<head>
  <title>캔 생성</title>
</head>

<main layout:fragment="main">
  <script>
    let KenWrite__submitDone = false;
    function KenWrite__submit() {
      const form = document['ken-write-form'];
      if ( KenWrite__submitDone ) {
        return;
      }

      form.source.value = form.source.value.trim();

      if ( form.source.value.length == 0 ) {
        form.source.focus();
        alert('내용을 입력해주세요.');
        return;
      }

      KenWrite__submitDone = true;

      form.result.value = "없음";

      form.submit();
    }
  </script>
  <form name="ken-write-form" th:action="${ken == null ? '/ken/doWrite' : '/ken/doModify'}" method="POST" onsubmit="KenWrite__submit(); return false;"
        class="flex-grow flex flex-col">
    <input type="hidden" name="id" th:value="${ken != null ? ken.id : 0}">
    <input type="hidden" name="result">
    <div class="flex-grow h-0">
      <textarea name="source" class="w-full h-full textarea textarea-bordered" resize="false" th:if="${ken != null}">[(${ken.sourceForPrint})]</textarea>
      <textarea name="source" class="w-full h-full textarea textarea-bordered" resize="false" th:unless="${ken != null}">
$$config
title: New Title
keywords:
  - IT
  - ...
$$

# Subject 1</textarea>
    </div>
  </form>
</main>
</html>