@charset "utf-8";

/* 토스트 UI, 유튜브 플러그인에서 사용하는 CSS 시작 */
.ratio-16\/9::after {
  content:"";
  display:block;
  padding-top:calc(100% / 16 * 9);
}

.ratio-9\/16::after {
  content:"";
  display:block;
  padding-top:calc(100% / 9 * 16);
}

html .toastui-editor-contents,
html .ProseMirror {
  font-size:15px;
}

html .toastui-editor-contents>div>div:first-of-type h1,
html .toastui-editor-contents>h1:first-of-type,
html .toastui-editor-contents>div>div:first-of-type h2,
html .toastui-editor-contents>h2:first-of-type{
  margin-top:0;
}

.toast-ui-viewer {
  padding-top:10px;
}

html.ppt-popup-visible,
html.ppt-popup-visible > body {
  overflow:hidden;
}

.ppt-popup {
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:hsla(var(--b1)/var(--tw-bg-opacity,1));
  z-index:100000;
}

.ppt-popup .toastui-editor-contents *::selection {
  background-color: #FFA;
}

.toast-ui-viewer--ppt {
  padding:0;
}

.toast-ui-viewer--ppt .toastui-editor-contents {
  height:100%;
  overflow: overlay;
  scroll-snap-type: y mandatory;
  position:relative;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div {
  scroll-snap-align: start;
  min-height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.h1-top h1:first-of-type {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:20px 10px;
  box-sizing:border-box;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-w-full > div {
  width:100%;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-mx-10 > div {
  margin-left:10px;
  margin-right:10px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-mx-20 > div {
  margin-left:20px;
  margin-right:20px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-mx-30 > div {
  margin-left:30px;
  margin-right:30px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-mx-40 > div {
  margin-left:40px;
  margin-right:40px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-mx-50 > div {
  margin-left:50px;
  margin-right:50px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-max-w-screen-sm > div {
  max-width:640px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-max-w-screen-md > div {
  max-width:768px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-max-w-screen-lg > div {
  max-width:1024px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-max-w-screen-xl > div {
  max-width:1280px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.box-max-w-screen-2xl > div {
  max-width:1536px;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div.h1-border-none h1 {
  border-bottom-width:0;
}

.toast-ui-viewer--ppt .toastui-editor-contents > div > div {
  min-width:320px;
  padding-top:20px;
  padding-bottom:20px;
}

.ppt-popup .btn-popup {
  position:absolute;
  top:0px;
  right:0px;
  width:50px;
  height:50px;
  cursor:pointer;
  z-index:10000;
}

.ppt-popup .btn-popup.hide {
  opacity: 0;
  transition: opacity 1s 1s;
}

.toast-ui-viewer--ppt .toastui-editor-contents::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ppt-popup .page {
  position:absolute;
  bottom:0;
  right:0;
  margin:10px;
  pointer-event:none;
}

.ppt-popup .page.hide {
  opacity: 0;
  transition: opacity 1s 1s;
}

.ppt-popup .btn-popup::before,
.ppt-popup .btn-popup::after  {
  content:"";
  position:absolute;
  top:45%;
  height:10%;
  left:20%;
  width:60%;
  background-color:#343434;
  transform: rotate(45deg);
}

.ppt-popup .btn-popup::after {
  transform: rotate(-45deg);
}

.ppt-popup h1 {
  font-size:28px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  line-height:1.5;
}

@media ( min-width:1200px ) {
  .ppt-popup, .ppt-popup a {
    font-size: 1.5rem;
    line-height:1.3;
  }

  html .ppt-popup .toastui-editor-contents, html .ProseMirror {
    font-size: 23px;
    line-height:1.3;
  }

  .ppt-popup h1 {
    font-size:42px;
    line-height:1.3;
  }

  .ppt-popup h2 {
    font-size:30px;
    line-height:1.3;
  }

  .ppt-popup h3 {
    font-size:27px;
    line-height:1.3;
  }

  .ppt-popup h4 {
    font-size:24px;
    line-height:1.3;
  }
}

html > body .toastui-editor-contents ol>li:before {
  white-space:nowrap;
  font-family: "monospace";
}
/* 토스트 UI, 유튜브 플러그인에서 사용하는 CSS 끝 */

.rectangle {
  position:fixed;
  border:3px solid red;
  display:none;
  z-index:100001;
  pointer-events:none;
}
